<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Gerador de Certificados</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#">Gerador</a></li>
      <li><a href="#">Contato</a></li>
    </ul>
  </div>
</nav>