<header>
  <acme-navbar creation-date="main.creationDate"></acme-navbar>
</header>
<main class="row">

    <h1>Preencha o formulário e visualize o certificado ao lado.</h1>
    <hr>
    <div class="col s12">
      <form>
          <div class="row">
              <h5>Assinatura responsável:</h5>
          <div class="input-field col s12 m6">
              <input id="responsable" type="text" ng-model="main.responsable">
              <label for="responsable">Responsável</label>
          </div>

          <div class="input-field col s12 m6">
              <input id="role" type="text" ng-model="main.role">
              <label for="role">Cargo</label>
          </div>

              <h5>Alinhamento da assinatura:</h5>
          <div class="input-field col s12 m4">
              <input type="radio" id="left" ng-model="main.align" value="left" />
              <label for="left">Esquerda</label>
          </div>
          <div class="input-field col s12 m4">
              <input type="radio" id="center" ng-model="main.align" value="center" />
              <label for="center">Centro</label>
          </div>
              <div class="input-field col s12 m4">
                  <input type="radio" id="right" ng-model="main.align" value="right" />
                  <label for="right">Direita</label>
              </div>
          </div>
          <div class="row">
          <h5>Texto do certificado:</h5>
        <div class="input-field col s12 m6">
          <textarea id="textarea1" class="materialize-textarea" ng-model="main.texto"></textarea>
          <label for="textarea1">Texto do certificado</label>
        </div>
          <h5>Alinhamento do texto:</h5>
          <div class="input-field col s12 m4">
              <input type="radio" id="leftText" ng-model="main.alignText" value="left-align" />
              <label for="leftText">Esquerda</label>
          </div>
          <div class="input-field col s12 m4">
              <input type="radio" id="centerText" ng-model="main.alignText" value="center-align" />
              <label for="centerText">Centro</label>
          </div>
          <div class="input-field col s12 m4">
              <input type="radio" id="rightText" ng-model="main.alignText" value="right-align" />
              <label for="rightText">Direita</label>
          </div>
          </div>

        <div class="file-field input-field s12 m6">
          <div class="btn">
            <span>File</span>
              <input type="file" name="filePhoto" value="" id="filePhoto" class="required borrowerImageFile" data-errormsg="PhotoUploadErrorMsg">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
      </form>
    </div>
    <div id="preview">
        <div class="text" ng-class="main.alignText">
            <h3>Certificamos que,</h3>
            <h2>{{main.participante}}</h2>
            <h5>{{main.texto}}</h5>
        </div>
        <div class="responsable" ng-class="main.align">
            <h4>{{main.responsable}}</h4>
            <p>{{main.role}}</p>
        </div>
        <img id="previewHolder" alt="Uploaded Image Preview Holder"/>

    </div>
    <!--<button class="btn" ng-click="main.generatePDF('#preview','certificado.pdf')">Gerar PDF</button>-->
    <button class="btn" ng-click="main.start()">Gerar PDF</button>

    <form method="POST" enctype="multipart/form-data" action="http://createstorm.com.br/save.php" id="myForm">
    <input type="hidden" name="img_val" id="img_val" value="" />
</form>

</main>
