html {
}
body{
}

main{
  margin-top: 40px;
}
//desktop
@media #{$large-and-up}{

}

//desktop small - ipad horizontal
@media #{$large-and-down}{

}

//medium
@media #{$medium-and-down}{

}

//small
@media #{$small-and-down}{

}