#preview{
  position: relative;
  margin: 20px auto;
  width: 841.89px;
  height: 595.28px;
  display: block;
  clear: both;
  overflow: hidden;
  


  h2,h3,h4, p{
    margin: 5px 0;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  font-smooth: antialiased;
  }

  
  img{
    width:100%;
    height:auto;
    display: block;
    z-index: 0;
  }
  .text{
    position: absolute;
    z-index: 1;
    top:48%;
    padding: 0 40px;
    width: 100%;
    color: #4c4c4c;
  }
  .responsable{
    position: absolute;
    bottom: 5%;
    z-index: 2;
    padding: 0 40px;
    text-align: left;
    color: #4c4c4c;
    
    &.center{
      text-align: center;
      width: 100%;
    }
    &.right{
      text-align: right;
      right: 0;
    }
  }
}